<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>

</head>
<body>
<table border="0.5">
    <caption>Books</caption>
    <tr>
        <th>ID</th>
        <th>Название книги</th>
        <th>Автор</th>
        <th>Действие</th>
    </tr>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.id}" />
        <td th:text="${book.name}" />
        <td th:text="${book.author.name}" />

        <td><a th:href="@{/mvc/listComments(id=${book.id})}">Comments</a></td>
        <td><a th:href="@{/mvc/updateBook(id=${book.id})}">Edit</a></td>
        <td><a th:href="@{/mvc/deleteBook(id=${book.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<a href="/mvc/updateBook?id=0">Add</a>

</body>
</html>