<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of genres</title>

</head>
<body>
    <table border="1">
        <caption>Genres</caption>
        <tr>
            <th>ID</th>
            <th>Жанр</th>
            <th>Действие</th>
        </tr>
        <tbody>
        <tr th:each="genre: ${genres}">
            <td th:text="${genre.id}" />
            <td th:text="${genre.name}" />
            <td><a th:href="@{/mvc/updateGenre(id=${genre.id})}">Edit</a></td>
            <td><a th:href="@{/mvc/deleteGenre(id=${genre.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <a href="/mvc/updateGenre?id=0">Add</a>

</body>
</html>