<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update Author</title>

</head>
<body>

<form action="/mvc/updateBook" th:object="${book}" method="post">
    <table border="1">
        <tr>
            <td>ID</td>
            <td><input id="id" name="id" type="number" th:field="*{id}" readonly/></td>
        </tr>
        <tr>
            <td>Book</td>
            <td><input id="name" type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Author id#</td>
            <td><input id="author_id" type="text" th:field="*{author.id}" /></td>
        </tr>
        <tr>
            <td>Genre id#</td>
            <td><input id="genre_id" type="text" th:field="*{genre.id}" /></td>
        </tr>
        <tr>
            <td>Publishing House</td>
            <td><input id="publishingHouse" type="text" th:field="*{publishingHouse}" /></td>
        </tr>
        <tr>
            <td>Publishing year</td>
            <td><input id="publishingYear" type="number" th:field="*{publicationYear}" /></td>
        </tr>
        <tr>
            <td>Publishing place</td>
            <td><input id="publishingPlace" type="text" th:field="*{publicationPlace}" /></td>
        </tr>
        <tr>
            <td>ISBN</td>
            <td><input id="isbn" type="number" th:field="*{isbn}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>

